# In order to run the MySQL server and the Flask API, make a copy of this file, rename it to .env, and fill
# the environment variables below.

# Password for the root user
MYSQL_ROOT_PASSWORD=
# Username and password for the user created for and dedicated to the recipe app
MYSQL_USER=
MYSQL_PASSWORD=
# MySQL host (set to localhost to test on the local machine)
MYSQL_HOST=localhost
# Name of the database to be created for the recipe app
MYSQL_DATABASE=recipes
# Local port to be mapped to the MySQL instance running on the Docker container. Useful if there is already an existing
# MySQL instance running on the local host on the default port (3306) - in this case the container will not interfere
# with the local instance
MYSQL_MAPPING_PORT=3600
